.new {
  background-color: #ffffff; 
  padding: 50px 20px;
  font-family: Arial, sans-serif;

  h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 2rem;
    color: #333;
  }

  .container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;

    .left {
      flex: 1;
      position: relative;
      img {
        width: 100%;
        border-radius: 10px;
      }

     
       
      }
    }
  }
